@using Microsoft.AspNetCore.Identity
@using App.Models

@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager
@inject AppDbContext dbContext

@{
    var user = await userManager.GetUserAsync(User);
    string avatarPath = "";
    if (user != null)
    {
        avatarPath = dbContext.Images?.Where(i => i.UserId == user.Id && i.UseType == UseType.profile)
        .Select(i => i.FilePath).FirstOrDefault() ?? "/images/no_avt.jpg";
    }
}

<link rel="stylesheet" href="~/css/account-nav.min.css" asp-append-version="true" />

@if (signInManager.IsSignedIn(User) && user != null)
{
    <div class="account-nav">
        <div class="dropdown text-center navbar">
            <!-- Dropdown button -->
            <a class="account dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="@avatarPath" alt="avatar" class="rounded-circle" style="height: 42px;"> @user.UserName
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu text-align-left shadow-lg dropdown-menu-nav login">
                <li>
                    <div class="user-box">
                        <div class="avatar-lg"><img src="@avatarPath" alt="image profile" class="avatar-img rounded"></div>
                        <div class="u-text">
                            <p>@user.UserName</p>
                            <p class="email">@user.Email</p>
                            <a asp-area="Database" asp-controller="DbManage" asp-action="Index"><i class="fas fa-cogs"> Quản lý</i></a>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Index"
                        asp-route-id="@user.Id">
                        <i class="fas fa-id-card"></i> Trang cá nhân
                    </a>
                    <a class="dropdown-item" asp-area="Identity" asp-controller="Profile" asp-action="Index">
                        <i class="fas fa-edit"></i> Thay đổi thông tin
                    </a>
                    <a class="dropdown-item" asp-area="Identity" asp-controller="Option" asp-action="Index">
                        <i class="fas fa-wrench"></i> Tuỳ chọn
                    </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="ListUserFollow"
                        asp-route-id="@userManager.GetUserId(User)">Danh sách theo dõi
                    </a>
                    <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="ListUserBlock"
                        asp-route-id="@userManager.GetUserId(User)">Danh sách chặn
                    </a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="LogOff"><i
                            class="fas fa-sign-out-alt"></i> Đăng xuất
                    </a>
                </li>
            </ul>
        </div>
    </div>

}
else
{
    <div class="account-nav">
        <div class="dropdown text-center navbar navbar-expand-lg">
            <!-- Dropdown button -->
            <a class="dropdown-account dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user-circle"></i>
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu shadow-lg dropdown-menu-nav logout">
                <li>
                    <a class="dropdown-item mb-2 btn-login" asp-area="Identity" asp-controller="Account" asp-action="Login">
                        Đăng nhập <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li class="small">Bạn chưa có tài khoản?</li>
                <li>
                    <a class="small" asp-area="Identity" asp-controller="Account" asp-action="Register">
                        Đăng ký
                    </a>
                </li>
                <li>
                    <hr class="hr-text" data-content="hoặc">
                </li>
                <li>
                    <form asp-area="Identity" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl=""
                        type="hidden" method="post" class="form-horizontal" role="form">
                        <input type="hidden" name="provider" value="Google" />
                        <button type="submit" class="dropdown-item external-login mb-3">
                            <img src="~/images/google.png" alt="google"> Đăng nhập với Google
                        </button>
                    </form>
                </li>
                <li>
                    <form asp-area="Identity" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl=""
                        type="hidden" method="post" class="form-horizontal" role="form">
                        <input type="hidden" name="provider" value="Facebook" />
                        <button type="submit" class="dropdown-item external-login ">
                            <img src="~/images/facebook.png" alt="facebook"> Đăng nhập với Facebook
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
}