@using Microsoft.AspNetCore.Identity
@using App.Models
@using Microsoft.AspNetCore.Authorization

@inject UserManager<AppUser> userManager
@inject AppDbContext dbContext
@inject IAuthorizationService AuthorizationServices

@{
	var user = await userManager.GetUserAsync(User);
	string avatarPath = "";
	if (user != null)
	{
		avatarPath = dbContext.Images?.Where(i => i.UserId == user.Id && i.UseType == UseType.profile)
		.Select(i => i.FilePath).FirstOrDefault() ?? "/images/no_avt.jpg";
	}
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>@ViewData["title"]</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" type="image/x-icon" href="~/webfavicon.ico" />

	<!-- Fonts and icons -->
	<script src="~/lib/kaiadmin-lite-1.2.0/js/plugin/webfont/webfont.min.js"></script>
	<script>
		WebFont.load({
			google: { "families": ["Public Sans:300,400,500,600,700"] },
			custom: { "families": ["Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/lib/kaiadmin-lite-1.2.0/css/fonts.min.css'] },
			active: function () {
				sessionStorage.fonts = true;
			}
		});
	</script>

	<!-- CSS Files -->
	<link rel="stylesheet" href="~/css/admin-cp.min.css">
	<link rel="stylesheet" href="~/lib/kaiadmin-lite-1.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/lib/kaiadmin-lite-1.2.0/css/plugins.min.css">
	<link rel="stylesheet" href="~/lib/kaiadmin-lite-1.2.0/css/kaiadmin.min.css">

</head>

<body>
	<div class="wrapper">
		<!-- Sidebar -->
		<div class="sidebar" data-background-color="dark">
			<div class="sidebar-logo">
				<!-- Logo Header -->
				<div class="logo-header" data-background-color="dark2">
					<a asp-controller="Home" asp-action="Index" class="logo">
						<img src="~/logo.png" alt="navbar brand" class="navbar-brand" height="40">
						<p class="logo-text mb-0">&nbsp;&nbsp;Góc Kể Chuyện</p>
					</a>
					<div class="nav-toggle">
						<button class="btn btn-toggle toggle-sidebar">
							<i class="gg-menu-right"></i>
						</button>
						<button class="btn btn-toggle sidenav-toggler">
							<i class="gg-menu-left"></i>
						</button>
					</div>
					<button class="topbar-toggler more">
						<i class="gg-more-vertical-alt"></i>
					</button>
				</div>
				<!-- End Logo Header -->
			</div>
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<ul class="nav nav-secondary">
						<li class="nav-item">
							<a href="#">
								<i class="fas fa-home"></i>
								<p>Bảng điều khiển</p>
							</a>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Chức năng quản lý</h4>
						</li>
						@if((await AuthorizationServices.AuthorizeAsync(User, "CanManageDb")).Succeeded)
						{
							<li class="nav-item @(ViewBag.NavActive == "database" ? "active" : "")">
								<a asp-area="Database" asp-controller="DbManage" asp-action="Index">
									<i class="fas fa-layer-group"></i>
									<p>Cơ sở dữ liệu</p>
								</a>
							</li>
						}
						@if((await AuthorizationServices.AuthorizeAsync(User, "CanManageUser")).Succeeded)
						{
							<li
								class="nav-item @(ViewBag.NavActive == "list_users" || ViewBag.NavActive == "list_roles" ? "active" : "") submenu">
								<a data-bs-toggle="collapse" href="#forms">
									<i class="fas fa-users"></i>
									<p>Quản lý thành viên</p>
									<span class="caret"></span>
								</a>
								<div class="collapse show" id="forms">
									<ul class="nav nav-collapse">
										<li class="@(ViewBag.NavActive == "list_users" ? "active" : "")">
											<a asp-area="Identity" asp-controller="User" asp-action="Index">
												<span class="sub-item">Danh sách thành viên</span>
											</a>
										</li>
										@if((await AuthorizationServices.AuthorizeAsync(User, "CanManageRole")).Succeeded)
										{
											<li class="@(ViewBag.NavActive == "list_roles" ? "active" : "")">
												<a asp-area="Identity" asp-controller="Role" asp-action="Index">
													<span class="sub-item">Quản lý Role</span>
												</a>
											</li>
										}
									</ul>
								</div>
							</li>
						}
						@if((await AuthorizationServices.AuthorizeAsync(User, "CanManagePost")).Succeeded || 
							(await AuthorizationServices.AuthorizeAsync(User, "CanManageCate")).Succeeded)
						{
							<li
								class="nav-item @(ViewBag.NavActive == "list_posts" || ViewBag.NavActive == "list_cates" ? "active" : "") submenu">
								<a data-bs-toggle="collapse" href="#tables">
									<i class="fas fa-file-alt"></i>
									<p>Quản lý bài viết</p>
									<span class="caret"></span>
								</a>
								<div class="collapse show" id="tables">
									<ul class="nav nav-collapse">
										@if((await AuthorizationServices.AuthorizeAsync(User, "CanManagePost")).Succeeded)
										{
											<li class="@(ViewBag.NavActive == "list_posts" ? "active" : "")">
												<a asp-area="Post" asp-controller="Post" asp-action="ManagePost">
													<span class="sub-item">Danh sách bài viết</span>
												</a>
											</li>
										}

										@if((await AuthorizationServices.AuthorizeAsync(User, "CanManageCate")).Succeeded)
										{
											<li class="@(ViewBag.NavActive == "list_cates" ? "active" : "")">
												<a asp-area="Post" asp-controller="Category" asp-action="Index">
													<span class="sub-item">Danh sách danh mục</span>
												</a>
											</li>
										}
									</ul>
								</div>
							</li>
						}
						@if((await AuthorizationServices.AuthorizeAsync(User, "CanManageContact")).Succeeded)
						{
							<li class="nav-item @(ViewBag.NavActive == "list_contacts" ? "active" : "")">
								<a asp-area="Contact" asp-controller="Contact" asp-action="Index">
									<i class="fas fa-headset"></i>
									<p>Quản lý liên hệ</p>
								</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->

		<div class="main-panel">
			<div class="main-header">
				<!-- Navbar Header -->
				<nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
					<div class="container-fluid">
						<ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
							@if (user != null)
							{
								<li class="nav-item topbar-user dropdown hidden-caret">
									<a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
										aria-expanded="false">
										<div class="avatar-sm">
											<img src="@avatarPath" alt="avatar" class="avatar-img rounded-circle">
										</div>
										<span class="profile-username">
											<span class="op-7">Hi,</span> <span class="fw-bold">@user.UserName</span>
										</span>
									</a>
									<ul class="dropdown-menu dropdown-user animated fadeIn" style="background: #d0dfeb;">
										<div class="dropdown-user-scroll scrollbar-outer">
											<li>
												<div class="user-box">
													<div class="avatar-lg"><img src="@avatarPath" alt="image profile"
															class="avatar-img rounded"></div>
													<div class="u-text">
														<h4>@user.UserName</h4>
														<p class="text-muted">@user.Email</p>
													</div>
												</div>
											</li>
											<li>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item" asp-area="" asp-controller="Profile" 
													asp-action="Index" asp-route-id="@user.Id">
													<i class="fas fa-id-card"></i> Trang cá nhân
												</a>
												<a class="dropdown-item" asp-area="Identity" asp-controller="Profile"
													asp-action="Index">
													<i class="fas fa-edit"></i> Thay đổi thông tin
												</a>
												<a class="dropdown-item" asp-area="Identity" asp-controller="Option"
													asp-action="Index">
													<i class="fas fa-wrench"></i> Tuỳ chọn
												</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item" asp-area="" asp-controller="Profile" 
													asp-action="ListPostBookmark">
													Bài viết đã lưu
												</a>
												<a class="dropdown-item" asp-area="" asp-controller="Profile"
													asp-action="ListUserFollow">
													Danh sách theo dõi
												</a>
												<a class="dropdown-item" asp-area="" asp-controller="Profile"
													asp-action="ListUserBlock">
													Danh sách chặn
												</a>
												<a class="dropdown-item" asp-area="Contact" asp-controller="Contact" 
													asp-action="ListContacts">
													Danh sách liên hệ
												</a>
												<div class="dropdown-divider"></div>
												<a class="dropdown-item" asp-area="Identity" asp-controller="Account"
													asp-action="LogOff">
													<i class="fas fa-sign-out-alt"></i> Đăng xuất
												</a>
											</li>
										</div>
									</ul>
								</li>
							}
						</ul>
					</div>
				</nav>
				<!-- End Navbar -->
			</div>

			<div class="container">
				<div class="page-inner">
					@RenderBody()
				</div>
			</div>

			<footer class="footer">
				<div class="container-fluid d-flex justify-content-between">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="http://www.themekita.com">
									ThemeKita
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"> Help </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"> Licenses </a>
							</li>
						</ul>
					</nav>
					<div class="copyright">
						2024, made with <i class="fa fa-heart heart text-danger"></i> by
						<a href="http://www.themekita.com">ThemeKita</a>
					</div>
					<div>
						Distributed by
						<a target="_blank" href="https://themewagon.com/">ThemeWagon</a>.
					</div>
				</div>
			</footer>
		</div>

	</div>
	<!--   Core JS Files   -->
	<script src="~/lib/kaiadmin-lite-1.2.0/js/core/jquery-3.7.1.min.js"></script>
	<script src="~/lib/kaiadmin-lite-1.2.0/js/core/popper.min.js"></script>
	<script src="~/lib/kaiadmin-lite-1.2.0/js/core/bootstrap.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="~/lib/kaiadmin-lite-1.2.0/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

	<!-- Kaiadmin JS -->
	<script src="~/lib/kaiadmin-lite-1.2.0/js/kaiadmin.min.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>