@using App.Models
@model UserListModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage">
<p>Tổng số thành viên: @Model.totalUsers</p>

<form asp-action="Index" method="get" role="form" class="form-inline">
    <div class="input-group" style="max-width: 300px;">
        <input asp-for="SearchString" 
               class="form-control" 
               placeholder="Nhập nội dung tìm kiếm..." 
               aria-label="Search">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <span class="text-danger d-block mt-2">@Model.MessageSearchResult</span>
</form>

<table class="table table-striped mt-3">
    <tr>
        <th>ID</th>
        <th>Tên tài khoản</th>
        <th>Email</th>
        <th>Ngày tham gia</th>
        <th></th>
    </tr>
    @foreach (var user in Model.users)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.AccountCreated</td>
            <td>
                <a class="btn btn-success btn-sm" asp-action="ManageUser" asp-route-id="@user.Id">Chi tiết</a>
            </td>
        </tr>
    }
</table>

@{
    var pagingmodel = new PagingModel()
    {
        currentpage = Model.currentPage,
        countpages = Model.countPages,
        generateUrl = (int? p) => Url.Action("Index", new { p = p}) ?? ""
    };
}

<partial name="_Paging" model="@pagingmodel" />
