@model App.Controllers.PostController.IndexViewModel
@using App.Utilities

@{
    Layout = "_MainContentLayout";
    ViewData["Title"] = Model.Title;
    ViewBag.NavLink = "Stories";
}

@Html.AntiForgeryToken()

@section MainContentSidebar {
    @await Component.InvokeAsync("MainContentSidebar")
}

<article class="post my-5">
    <!-- Header -->
    <section class="post-header">
        <div class="d-flex">
            <img src="@Model.PathAvatar" alt="Avatar tác giả" class="author-avatar me-3">
            <div class="post-meta">
                @if (Model.AuthorId != null)
                {
                    <strong>Tác giả: <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.AuthorId"
                            class="text-dark">@Model.Author</a></strong>

                }
                else
                {
                    <strong>Tác giả: @Model.Author</strong>
                }
                <br>
                <span class="text-muted">Ngày đăng: @Model.DateCreated | Cập nhật: @Model.DateUpdated</span>
            </div>
            <div class="post-actions">
                @{
                    string isPinned = Model.isPinned == true ? "Bỏ ghim" : "Ghim";
                }
                <button class="btn btn-warning btn-sm" id="pinPostBtn" data-id="@Model.Id"
                    data-url="@Url.Action("PinPost")">@isPinned</button>
                <a asp-action="EditPost" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Sửa</a>
                <button class="btn btn-danger btn-sm" id="deletePostBtn" data-id="@Model.Id"
                    data-url="@Url.Action("DeletePost")">Xóa</button>
            </div>
        </div>

        <div class="post-category">
            <span class="badge bg-primary">Danh mục: @Model.CateName</span>
        </div>
    </section>

    <hr>

    <!-- Body -->
    <section class="post-body">
        <h1 class="post-title">@Model.Title</h1>
        <div class="post-content">
            @Html.Raw(Model.Content)
        </div>

        <!-- Footer bài viết -->
        <div class="post-sign text-end">
            <span class="text-muted">Được đăng trên nền tảng <strong>Góc Kể Chuyện</strong> bởi
                <strong>@Model.Author</strong></span>
        </div>
    </section>

    <hr>

    <section class="post-footer">
        <div class="d-flex">
            <div class="post-stats">
                <span class="post-likes">
                    <button class="like-btn" id="likePostBtn" data-id="@Model.Id" data-url="@Url.Action("LikePost")">
                        <i class="@(Model.isLiked ? "fas fa-heart" : "far fa-heart")" id="icon-like"></i>
                    </button>
                    <span id="num-likes" style="margin-right: 0;">@NumberFormatter.FormatNumber(Model.NumLikes)</span>
                </span>
                <span class="post-comments"><i class="far fa-comment"></i>
                    @NumberFormatter.FormatNumber(Model.NumComments)</span>
                <span class="post-views"><i class="far fa-eye"></i> @NumberFormatter.FormatNumber(239994)</span>
            </div>
            <div class="post-share-bookmark">
                <button class="bookmark-btn"><i class="fas fa-bookmark"></i> Bookmark</button>
                <button class="share-btn"><i class="fas fa-share-alt"></i> Share</button>
            </div>
        </div>

        <hr>

        <div class="post-comments">
            <h5>Bình luận (<span>@NumberFormatter.FormatNumber(Model.NumComments)</span>)</h5>
            <form asp-action="CommentPost" class="formComment" id="commentForm" method="post" role="form">
                <input name="id" type="hidden" value="@Model.Id">
                <textarea name='content' id="commentText" class="form-control" rows="3"
                    placeholder="Viết bình luận..."></textarea>
                <button type="submit" class="btn btn-primary mt-2">Bình luận</button>
            </form>

            @* <div id="commentsContainer">
                @foreach (var comment in Model.CommentsView)
                {
                    @await Html.PartialAsync("_CommentPartial", comment)
                }
            </div>
            <button class="btn btn-secondary mt-2" id="loadMoreCommentsBtn">Xem thêm bình luận</button> *@
            <div id="commentsContainer"></div>
            <button id="loadMoreCommentsBtn" class="btn btn-secondary mt-3" data-url="@Url.Action("GetAllComments")"
                data-id="@Model.Id">Tải thêm bình luận</button>
        </div>
    </section>
</article>

@section MainContentSidebarScripts {
    <link rel="stylesheet" href="~/css/view-post.min.css" asp-append-version="true">
    <script src="~/js/view-post.js" asp-append-version="true"></script>
}