@model App.Controllers.MainContentController.CategoryPostsViewModel
@using App.Utilities

@{
    Layout = "_MainContentLayout";
    ViewData["Title"] = "Câu chuyện mới nhất";
    ViewBag.NavLink = "LatestPosts";

    var pagingmodel = new PagingModel();
    if (Model.Posts != null && Model.Posts.Any())
    {
        pagingmodel.currentpage = Model.currentPage;
        pagingmodel.countpages = Model.countPages;
        pagingmodel.generateUrl = (int? p) => Url.Action("LatestPosts", new { p = p }) ?? "";
    }
}

@section MCPageStyles {
    <link rel="stylesheet" href="~/css/latest-posts.min.css" asp-append-version="true" />
}

@section MainContentSidebar {
    @await Component.InvokeAsync("MainContentSidebar")
}

<div class="latest-posts">
    <section class="title">
        <h2>Câu chuyện mới nhất</h2>
    </section>

    @if (Model.Posts == null || !Model.Posts.Any())
    {
        <p>Không có bài viết nào</p>
    }
    else
    {
    <partial name="_Paging" model="@pagingmodel" />
    <section class="posts">
        @foreach (var post in Model.Posts)
        {
            <div class="d-flex post-content">
                <div class="col-md-10 d-flex">
                    <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-slugPost="@post.Slug"
                        class="post-thumb" title="@post.Description">
                        <img src="/maincontent/Thumbnail?postId=@post.Id" alt="Thumbnail" class="me-3" loading="lazy">
                    </a>
                    <div>
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-slugPost="@post.Slug"
                            class="post-title" title="@post.Description">
                            @post.Title
                        </a>
                        <p class="text-muted post-author">
                            <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@post.AuthorId">
                                <img src="@post.AvatarPath" alt="avatar" class="avatar" />
                                @post.Author
                            </a>
                            <span>&bull; @post.DateCreated</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-2">
                    <p class='post-views'><i class="far fa-eye"></i> Lượt xem: @NumberFormatter.FormatNumber(post.NumViews)</p>
                    <p class='post-likes'><i class="fas fa-heart"></i> Lượt thích: @NumberFormatter.FormatNumber(post.NumLikes)</p>
                </div>
            </div>
        }
    </section>
    <partial name="_Paging" model="@pagingmodel" />
    }
</div>