@model App.Components.MainContentSidebar.IndexViewModel

<!-- Create Post -->
<a asp-area="" asp-controller="Post" asp-action="CreatePost" class="create-post btn btn-primary btn-sm"><i
        class="fas fa-paper-plane"></i> Bài viết mới</a>

<!-- Search -->
<form class="form-search" method="get" asp-controller="MainContent" asp-action="SearchPosts">
    <div class="input-group">
        <input class="form-control" id="inputfield" type="text" placeholder="Tìm kiếm..." aria-label="Search"
            name="query">

        <div class="dropdown">
            <button class="btn-options dropdown-toggle" type="button" id="searchCategoryButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu shadow-lg" aria-labelledby="searchCategoryButton">
                <li><a class="dropdown-item" href="#" data-value="title">Tiêu đề</a></li>
                <li><a class="dropdown-item" href="#" data-value="description">Mô tả</a></li>
                <li><a class="dropdown-item" href="#" data-value="content">Nội dung</a></li>
                <li><a class="dropdown-item" href="#" data-value="author">Tác giả</a></li>
            </ul>
            <input type="hidden" name="searchCategory" id="searchCategory" value="title">
        </div>

        <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
    </div>
</form>

<!-- Latest Posts -->
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Mới nhất</h5>
    </div>
    <div class="card-body">
        <ul class="story-list">
            @foreach (var post in Model.LatestPosts)
            {
                <li class="d-flex">
                    <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@post.AuthorId"
                        title="Xem trang cá nhân">
                        <img src="@post.AvatarPath" alt="avatar" class="avatar" />
                    </a>
                    <div class="story-info">
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-slugPost="@post.Slug"
                            class="story-title">@post.Title</a>
                        <p class="text-muted story-author"><a asp-area="" asp-controller="Profile" asp-action="Index"
                                asp-route-id="@post.AuthorId" class="author-name">@post.Author</a> &bull;
                            <span>@post.CateName</span></p>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<!-- Categories -->
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Danh mục</h5>
    </div>
    <div class="card-body">
        <ul class="category-list">
            @foreach (var category in Model.Categories)
            {
                <li>
                    <a href="#" class="sidebar-category-item" data-toggle="collapse" data-target="#category@(category.Id)">
                        @category.Name
                    </a>
                    <ul id="category@(category.Id)" class="subcategory-list">
                        @foreach (var subCategory in category.ChildCategories)
                        {
                            <li><a asp-action="CategoryPosts" asp-route-slug="@subCategory.Slug">@subCategory.Name</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>

<!-- Top Users -->
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Thành viên nổi bật</h5>
    </div>
    <div class="card-body">
        <ul class="user-list">
            @foreach (var user in Model.TopUsers)
            {
                <li>
                    <a asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@user.Id"
                        title="Xem trang cá nhân" class="d-flex align-items-center">
                        <img src="@user.AvatarPath" alt="avatar" class="avatar" />
                        <span>@user.UserName</span>
                    </a>
                    <p class="text-muted">&#10559;&nbsp;@user.NumPosts bài biết</p>
                </li>
            }
        </ul>
    </div>
</div>

<!-- Statistics -->
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Thống kê</h5>
    </div>
    <div class="card-body">
        <ul class="stat-list">
            <li><i class="fas fa-book"></i> @Model.NumUsers bài viết</li>
            <li><i class="fas fa-users"></i> @Model.NumPosts thành viên</li>
            <li><i class="fas fa-comments"></i> @Model.NumPostInWeek bài viết trong tuần</li>
        </ul>
    </div>
</div>
